<p>Añadir comentario:</p>

<div>
  <form method="post" action="/quizes/<%= quizid %>/comentarios/">
    <input type="text" id="comment" name="comentario[texto]" value="" /><br />
    <input type="submit" value="Enviar" />
  </form>
</div>
